APP_SECRECT_KEY='123456789'
MONGO_CLIENT='mongodb+srv://pinil:pinil.70261008@agrisage.zx8kt2x.mongodb.net/?retryWrites=true&w=majority&appName=AgriSage'
WEATHER_API='fc78a469d8c847ac9b7996c55b895e2b'
FIREBASE_URL='https://agrisage-85205-default-rtdb.asia-southeast1.firebasedatabase.app/'