{% extends "adminBase.html" %}

{% block head %}
<title>AGRISAGE / Add Product</title>
{% endblock%}


{% block main %}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Add Product</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/adminDashboard">Home</a></li>
        <li class="breadcrumb-item active">Add Product</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <form novalidate action="{{ url_for("addProduct")}}" method="POST">
      <div class="row mb-3">
        <label for="fertilizerName" class="col-sm-2 col-form-label">Fertilizer Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="fertilizerName", name="fertilizerName" required>
        </div>
      </div>
      <div class="row mb-3">
        <label for="nutrientComposition" class="col-sm-2 col-form-label">Nutrient Composition</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="nutrientComposition", name="nutrientComposition" required>
        </div>
      </div>
      <div class="row mb-3">
          <label for="fertilizerType" class="col-sm-2 col-form-label">Fertilizer Type</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="fertilizerType", name="fertilizerType" required>
          </div>
        </div>
      <div class="row mb-3">
        <label for="manufacturer" class="col-sm-2 col-form-label">Manufacturer</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="manufacturer" name="manufacturer" required>
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary">Add</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
      </div>

      <div class="col-12">
        <p></p>
        <center><p class="small mb-0" style="color:red;">{{ errorMassage }}</p></center>
      </div>
      
    </form>
</main>
{% endblock %}