{% extends "base.html" %}

{% block head%}
<title>AGRISAGE / Device - {{ deviceID }}</title>
{% endblock%}

{% block main%}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
        <li class="breadcrumb-item active">IoT Device - {{ deviceID }}</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  {% if iotData %}
    <section class="section dashboard">
      <div class="col-lg-8">
        <div class="row">
          <!-- User Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card">
              <div class="card-body">
                <h5 class="card-title">Device ID<span></span></h5>
                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-people"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ deviceID }}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End User Card -->

          <!-- humidity Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card">
              <div class="card-body">
                <h5 class="card-title">Humidity<span></span></h5>
                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-droplet"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ iotData['humidity'] }} % </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End humidity Card -->

          <!-- Temperature Card -->
          <div class="col-xxl-4 col-xl-12">
            <div class="card info-card">
              <div class="card-body">
                <h5 class="card-title">Temperature<span></span></h5>
                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-archive"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ iotData['temperature'] }}&#176;C</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Temperature Card -->

        </div>
      </div>
    <!-- End Left side columns -->

      <div class='row'>
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Soil Nutrients<span></span></h5>

              <!-- Soil Condition Chart -->
              <div id="reportsChart"></div>

                <script>
                  document.addEventListener("DOMContentLoaded", () => {
                    new ApexCharts(document.querySelector("#reportsChart"), {
                      series: [{
                        name: 'Maximum Temperature',
                        data: [31, 32, 32, 31.5, 30, 30, 30],
                      }, {
                        name: 'Temperature',
                        data: [11, 12, 12, 12, 12, 12, 11]
                      }, {
                        name: 'Minimum Temperature',
                        data: [15, 16, 16, 15, 15, 14, 14]
                      }],
                      chart: {
                        height: 350,
                        type: 'area',
                        toolbar: {
                          show: true
                        },
                      },
                      markers: {
                        size: 4
                      },
                      colors: ['#4154f1', '#2eca6a', '#ff771d'],
                      fill: {
                        type: "gradient",
                        gradient: {
                          shadeIntensity: 1,
                          opacityFrom: 0.3,
                          opacityTo: 0.4,
                          stops: [0, 90, 100]
                        }
                      },
                      dataLabels: {
                        enabled: true
                      },
                      stroke: {
                        curve: 'smooth',
                        width: 2
                      },
                      xaxis: {
                        type: 'datetime',
                        categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
                      },
                      tooltip: {
                        x: {
                          format: 'dd/MM/yy HH:mm'
                        },
                      }
                    }).render();
                  });
                </script>
                <!-- End Soil Condition Chart -->

              </div>

            </div>
          </div>
          <!-- End Reports -->
        </div>
      </div>
    </section>
    {% else %}
    <section class="section dashboard">
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><strong>Device {{ deviceID }} Not Found !</strong></h5>
              <div>
                <h6>We couldn't locate the IoT device you're looking for. Please try the following steps:</h6>
                <ol>
                  <li>Ensure Device is Powered On: Check that your device is properly connected to a power source.</li>
                  <li>Check Network Connection: Verify that your device is connected to your Wi-Fi or Ethernet network.</li>
                  <li>Refresh Page: Sometimes, a simple refresh can help.</li>
                  <li>Move Closer: Ensure the device is within range of your network and free from obstructions.</li>
                  <li>Restart Device: Power off your device, wait a few seconds, and power it back on.</li>
                  <li>Update Firmware: Make sure your device firmware is up to date.</li>
                  <li>Check App Settings: Confirm that the app or platform you're using is correctly set up and up to date.</li>
                </ol>
                <p>If these steps don’t resolve the issue, please contact our support team.<p>
                <h1>Contact Support:</h1>
                <ul>
                  <li>Email: support@example.com</li>
                  <li>Phone: 1-800-123-4567</li>
                  <li>Live Chat: Start Chat</li>
                </ul>
                <p>Thank you for your patience!</p>
              </div>
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteDeviceModal">Delete Device</button>
              <a role="button" class="btn btn-warning" href="{{url_for('editIoTDevice', deviceID=deviceID)}}">Edit Device</a>
              <a role="button" class="btn btn-success" href="javascript: location.reload();">Refresh Page</a>

              <div class="modal fade" id="deleteDeviceModal" tabindex="-1">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Delete Device Confirmation</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <h6><strong>Are you sure you want to delete this device?</strong></h6>
                      <ul>
                        <li>Device ID: {{ deviceID }}</li>
                      </ul>
                      <h6>Deleting this device will remove it permanently from your account. This action cannot be undone.</h6>
                      <h6><strong>Do you wish to proceed?</strong></h6>
                    </div>
                    <div class="modal-footer">
                      <form action="{{ url_for("deleteIoTDevice", deviceID=deviceID)}}" method="POST">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div><!-- End Basic Modal-->

            </div>
          </div>
    </section>

    {% endif %}

</main>
  <!-- End #main -->
{% endblock  %}