{% extends "base.html" %}

{% block head%}
<title>AGRISAGE / Weather Forecast</title>
{% endblock%}

{% block main%}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
          <li class="breadcrumb-item active">Weather Forecast</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <!-- Left side columns -->
            <div class="col-lg">
                <div class="row">
                    <!-- Date Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card date-card">
                            <div class="card-body">
                                <h5 class="card-title">Date </h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-calendar-date"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{ currentDate }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Date Card -->

                    <!-- Time Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card time-card">
                            <div class="card-body">
                                <h5 class="card-title">Time</h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-clock"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{ currentTime }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Time Card -->

                    <!-- Location Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card time-card">
                            <div class="card-body">
                                <h5 class="card-title">Time</h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-clock"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{ currentTime }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Location Card -->
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Weather <span>| Today</span></h5>
                                <!-- Default Accordion -->
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            Weather Description : {{ weatherDataJson['weather'][0]['description'] }}
                                        </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <h6><strong>Temperature : </strong> {{ weatherDataJson['main']['temp'] }} &#x2103; </h6>
                                                <h6><strong>Maximum Temperature : </strong> {{ weatherDataJson['main']['temp_max'] }} &#x2103; </h6>
                                                <h6><strong>Minimum Temperature : </strong> {{ weatherDataJson['main']['temp_min'] }} &#x2103; </h6>
                                                <h6><strong>Humidity : </strong> {{ weatherDataJson['main']['humidity'] }} % </h6>
                                                <h6><strong>Pressure : </strong> {{ weatherDataJson['main']['pressure'] }} hPa </h6>
                                                <h6><strong>Atmospheric pressure on the ground level : </strong> {{ weatherDataJson['main']['grnd_level'] }} hPa </h6>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Wind
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <h6><strong>Wind Speed : </strong> {{ weatherDataJson['wind']['speed'] }} meter/sec </h6>
                                                <h6><strong>Wind Gust : </strong> {{ weatherDataJson['wind']['gust'] }} meter/sec </h6>
                                                <h6><strong>Visibility : </strong> {{ weatherDataJson['visibility'] }} meter </h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingThree">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Accordion Item #3
                                            </button>
                                        </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Default Accordion Example -->
                    </div>
                </div>
                

            </div>
            <!-- End Left side columns -->

        </div>
    </section>

  </main>
  <!-- End #main -->
{% endblock  %}